 .people_page{
   display: grid;
   grid-template-columns:100%;
  place-items:center;
 }

  
  .people_style {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    
  }
  